<!DOCTYPE html>
<html>
<head>
  <title>Madlib Fun Game</title> 
</head>
<body
<h1>Let's Start</h1>

<form action="/madlib">
  Choose some options!
  Type of People
  <select name = "people">
    <option value="firefighter" > Firefighter
    <option value="businessperson"> Businessperson
    <option value="librarian"> Librarian
    <option value="chef"> Chef
</select>
   Pick a Color 
  <select name = "color">
      <option value = "blue">Blue
      <option value = "red">Red
      <option value = "yellow">Yellow
      <option value = "pink">Pink
 </select> 
   Pick an Adjective
    <select name = "adjective">
        <option value = "pretty">Pretty
        <option value = "smart">Smart
        <option value = "annoying">Annoying
        <option value = "awesome">Awesome
    <input type = "submit">
</select>
</form>


</body>
</html>